@use "colors";
@use "sass:color";

@mixin list-tile {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-block: 18px;
    padding-inline: 20px;
    filter: drop-shadow(0 16px 40px #{color.change(#8FA0C1, $alpha:14%)});
    color: colors.$neutral-900;
    border-radius: 24px;
}

.list-tile {
    @include list-tile;
}

.container {
    max-width: 1160px;
    margin-inline: auto;
}